:root{
    --background-color: #4b5450;
    --darker-background-color: #243848;
    --accent-color: #8a988c;
    --text-color: #ffffff; 
}
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    height: 100%;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;;
    margin-bottom: 60px;
    padding-left: 50px;
    font-size: 40px;
    color: var(--background-color);
}
p{
    padding-left: 60px;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
    color: var(--darker-background-color);
}
html{
    height: 100%;
}
/* Menüleiste */
nav{
    height: 80px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo_name{
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
}
nav #logo{
    margin-left: 20px;
    width: 4.5rem;  
}
nav #name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 200px;
    text-align: center;
}
nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav input[type="checkbox"]{
    display: none;
}
/* Hamburger-Menü bei der mobilen Version */
.toggle-button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
/* Beginn Bilderserie */
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin-top: 40px;
}
.image-box{
    position: relative;
    overflow: hidden;
}
.image-box > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
.image-box > .box-text{
    position: absolute;
    inset: 0;
    font-size: 18px;
    line-height: 35px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darker-background-color);
}
.image-box > img,
.image-box > .box-text{
    transition: 200ms ease-in-out;
}
.image-box:hover > img.blur{
    filter: blur(15px);
}
.image-box > .box-text.fade{
    opacity: 0;
}
.image-box:hover > .box-text.fade{
    opacity: 1;
}
#footer{
    font-size: 15px;
    color: var(--darker-background-color);
    margin-bottom: 55px;
    margin-top: 55px;
    padding-left: 25px;
    outline: thin ridge rgb(255, 119, 0);
}
@media(max-width: 1080px){
    .toggle-button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    #toggle-button:checked ~ ul{
        display: block;
        overflow: hidden;
    }
}



