body{
    margin: 0;
    margin-bottom: 20px;
    background-color:#ffffff;
    padding-left: 2px;
    padding-right: 2px;
    height: 100%;
}
:root{
    --background-color: #4b5450;
    --darker-background-color: #243848;
    --accent-color: #8a988c;
    --text-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
p{
    color: var(--darker-background-color);
    font-size: 18px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
html{
    height: 100%;
}
nav{
    height: 80px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 200px;
    text-align: center;
}
nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav input[type="checkbox"]{
    display: none;
}
.toggle-button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
@media(max-width: 1080px){
    .toggle-button{
        display:flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }

    #toggle-button:checked ~ ul{
        display: block;
        overflow: hidden;
    }
}
.subheadline{
    margin-top: 100px;;
    margin-bottom: 60px;
    padding-left: 50px;
    font-size: 30px;
    color: var(--background-color);
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin-top: 40px;
}
.image-box{
    position: relative;
    overflow: hidden;
}

.image-box > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}
.image-box > .box-text{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darker-background-color);
}
.image-box > img,
.image-box > .box-text{
    transition: 200ms ease-in-out;
}

.image-box:hover > img.blur{
    filter: blur(15px);
}

.image-box > .box-text.fade{
    opacity: 0;
}

.image-box:hover > .box-text.fade{
    opacity: 1;
}


.grid2{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.image-box2{
    position: relative;
    overflow: hidden;
}

.image-box2 > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.image-box2 > .box-text2{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darker-background-color);
}

.image-box2 > img,
.image-box2 > .box-text2{
    transition: 200ms ease-in-out;
}

.image-box2:hover > img.blur{
    filter: blur(15px);
}

.image-box2 > .box-text2.fade{
    opacity: 0;
}

.image-box2:hover > .box-text2.fade{
    opacity: 1;
}

.grid3{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.image-box3{
    position: relative;
    overflow: hidden;
}

.image-box3 > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.image-box3 > .box-text3{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darker-background-color);
}

.image-box3 > img,
.image-box3 > .box-text3{
    transition: 200ms ease-in-out;
}

.image-box3:hover > img.blur{
    filter: blur(15px);
}

.image-box3 > .box-text3.fade{
    opacity: 0;
}

.image-box3:hover > .box-text3.fade{
    opacity: 1;
}

@media screen and (max-width: 500px){
    .image-box{
        flex: 50%;
    }
}

@media screen and (max-width: 500px){
    .navigation{
        position:relative;
    }
}

.footer{
    font-size: 15px;
    color: var(--darker-background-color);
    margin-bottom: 55px;
    margin-top: 35px;
    padding-left: 15px;
}