:root{
    --background-color: #4b5450;
    --darker-background-color: #243848;
    --accent-color: #8a988c;
    --text-color: #ffffff;
}
.color_mode{
    --background-color:#eca832;
    --darker-background-color:#20201f;
    --accent-color:#df4cac;
    --text-color:#ededed;
}
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--darker-background-color);
    margin: 18px;
}
h4{
    font-size: 22px;
    color: var(--darker-background-color);
    margin: 15px;
}
p{
    font-size: 16px;
    color: var(--darker-background-color);
    padding-left: 10px;
}
p1{
    font-size: 18px;
    color: var(--darker-background-color);
}
html{
    height: 100%;
}
body{
    height: 100%;
    padding-top: 80px;
}
nav{
    height: 80px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;right:0;left:0;
}
#logo_name{
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
}
nav #logo{
    margin-left: 20px;
    width: 4.5rem;  
}
nav #name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant:small-caps;
    text-decoration: none;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 200px;
    text-align: center;
}
nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
}
nav input[type="checkbox"]{
    display: none;
}

.toggle-button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(232, 232, 232, 0.3),rgba(228, 228, 228, 0.3)), url(./Images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header #container{
    height: 80%;
}
#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#header-container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 150px;
    width: 100%;
    text-align: center;
    color: #d4d4d4;
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes SlideIn{
    from{
        transform: translateX(-800px);
    }
    to{
        transform: translateX(0);
    }
}
#header-container p{
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 30px;
    color: #d4d4d4;
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
#header-container button{
    padding: 1rem 1rem;
    padding-left: 30px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    animation-name: SlideIn;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
#header-container button:hover{
    background-color: var(--background-color);
}
section{
    width: 80%;
    margin: 80px auto;
}
#title{
    text-align: center;
    font-size: 18px;
    color: var(--background-color);
}
#line{
    width: 450px;
    height: 4px;
    background: var(--background-color);
    margin: 10px auto;
}
#row{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px; 
}
.box{
    width: 47%;
    flex-direction: column;
    align-items: center;
}
.box img{
    width: 100%;
}
#stil #row{
    margin-top: 50px;
}
.box button{
    padding: 0.7rem 0.7rem;
    padding-left: 20px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;  
}
.box button:hover{
    background-color: var(--accent-color);
}
#banner{
    width: 100%;
    height: 100%;
    background-image: url(./Images/image-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
#banner-content{
    width: 50%;
    padding-left: 80px;
    color: var(--darker-background-color);
}
#banner-content h2{
    font-size: 50px;
    margin-left: 180px;
}
#banner-content p1{
    margin-left: 100px;
    text-align: center;
}
.designer .row .box{
    width: 100%;
}
.designer .image-boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-left: 55px;
}
.image-boxes img{
    width: 300px;
    margin: 10px;
}
#footer{
    font-size: 15px;
    color: var(--darker-background-color);
    margin-bottom: 55px;
    margin-top: 55px;
    padding-left: 25px;
    outline: thick ridge orangered;
}
@media(max-width: 800px){
    #banner-content h2{
        margin-left: 20px;
    }
    #banner-content p1{
        font-size: 16px;
    }
    .box img{
        width: 85%;
    }
    .box p1{
        font-size: 16px;
    }
    header{
        background-size: 100%;
        height: 50%;
    }
    #header-container h1{
        text-align: center;
        width: 100%;
        font-size: 45px;
        margin-top: 60px;
    }
    #header-container p{
        text-align: center;
        font-size: 16px;
        margin-top: 1px;
    }
    #header-container button{
        padding: 0.7rem;
        font-size: 14px;
        margin-top: 1px;
    }
}
@media(max-width: 1080px){
    .toggle-button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    #toggle-button:checked ~ ul{
        display: block;
        overflow: hidden;
    }
    .navbar{
        display: flex;
    }
    .image-frames{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(1080px,1fr));
    }
    #banner{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(1080px,1fr));
        min-width: 30px;
        text-align: left;
    }
    #banner-content h2{
        align-items: left;
        font-size: 45px;
    }
    #row{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(1080px,1fr));
        min-width: 20px;
        align-items: center;
    }
    .box h4{
        align-items: center;
        width: 80%;
        font-size: 35px;
    }
    .designer .image-boxes{
        display: grid;
        width: 100%;
    }
}
