* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #d0d2d1;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 80px
}
a{
    color:darkslategray;
    text-decoration:none;
    margin-left: 100px;
    font-weight: 400;
    font-size:30px

}
a:hover{
    text-decoration:underline;
}

.subheadline{
    font-size: 30px;
    color: #2b5d5d;
    padding-left:60px;
    margin-top:100px
}

.body-text{
    padding-left: 60px;
    padding-right: 50px;
    line-height: 30px;
}

.slide-images{
    position: relative;
    width: 33%;
    overflow: hidden;
    margin: 0px auto;
    margin-top: 70px;

}

.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input{
    display:none;
    
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover{
    background: #fff;
}

#img1:checked ~ .m1{
    margin-left: 0;
}

#img2:checked ~ .m2{
    margin-left: -100%;
}

#img3:checked ~ .m3{
    margin-left: -200%;
}

#img4:checked ~ .m4{
    margin-left: -300%;
}

#img5:checked ~ .m5{
    margin-left: -400%;
}

#img6:checked ~ .m6{
    margin-left: -500%;
}

#img7:checked ~ .m7{
    margin-left: -600%;
}

#img8:checked ~ .m8{
    margin-left: -700%;
}

.images-text{
    padding-left: 60px;
    padding-right: 50px;
    line-height: 30px;
}