:root{
    --background-color: #4b5450;
    --darker-background-color: #243848;
    --accent-color: #8a988c;
    --text-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    background: var(--text-color)
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--background-color);
    padding-left:60px;
    margin-top:100px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--background-color);
    padding-left:60px;
    margin-top:30px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    letter-spacing: 8px;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0, 0, 0, 0.533));
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
p{
    padding-left: 60px;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
    color: var(--darker-background-color);
}
html{
    height: 100%;
}
nav{
    height: 80px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo_name{
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
}
nav #logo{
    margin-left: 20px;
    width: 4.5rem;  
}
nav #name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
    text-decoration: none;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 200px;
    text-align: center;
}
nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav input[type="checkbox"]{
    display: none;
}
.toggle-button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}
@keyframes animate{
    5%,40%,80%{
        color: #ff9244;
    }
    20%,60%,100%{
        color: #676e69;
        text-shadow: 0 0 10px #8a988c,
        0 0 20px #8a988c,
        0 0 40px #8a988c,
        0 0 80px #8a988c,
        0 0 160px #8a988c,
    }
}
#body-text{
    padding-left: 60px;
    padding-right: 50px;
    line-height: 30px;
    font-size: 18px;
    color: var(--darker-background-color);
}
details{
    width: 70%;
    background: #fbfbfb;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 5px;
    overflow: hidden;
}
summary{
    padding: 5px;
    display: block;
    background: #f1f1f1;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    color: var(--darker-background-color);
    font-family:Georgia, 'Times New Roman', Times, serif
}
details:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.279);
}
summary:before{
    content:normal;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent transparent #f1f1f1;
    position: absolute;
    top: 10px;
    left: 5px;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s;
    transform: ease;
}
details[open] > summary:before{
    transform: rotate(90deg);
}
details summary::-webkit-details-marker{
    display:flexbox;
}
#footer{
    font-size: 15px;
    color: var(--darker-background-color);
    margin-bottom: 55px;
    margin-top: 55px;
    padding-left: 25px;
    outline: thick ridge orangered;
}
@media(max-width: 1080px){
    .toggle-button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    #toggle-button:checked ~ ul{
        display: block;
        overflow: hidden;
    }
}

