body{
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color:#ffffff;
    padding-left: 2px;
    padding-right: 2px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 80px
}
a{
    color:darkslategray;
    text-decoration:none;
    margin-left: 100px;
    font-weight: 400;
    font-size:30px

}
a:hover{
    text-decoration:underline;
}

.subheadline{
    margin-top: 100px;;
    margin-bottom: 60px;
    padding-left: 50px;
    font-size: 30px;
    color: #2d5b5b;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.image-box{
    position: relative;
    overflow: hidden;
}

.image-box > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.image-box > .box-text{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box > img,
.image-box > .box-text{
    transition: 200ms ease-in-out;
}

.image-box:hover > img.blur{
    filter: blur(15px);
}

.image-box > .box-text.fade{
    opacity: 0;
}

.image-box:hover > .box-text.fade{
    opacity: 1;
}


.grid2{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.image-box2{
    position: relative;
    overflow: hidden;
}

.image-box2 > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.image-box2 > .box-text2{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box2 > img,
.image-box2 > .box-text2{
    transition: 200ms ease-in-out;
}

.image-box2:hover > img.blur{
    filter: blur(15px);
}

.image-box2 > .box-text2.fade{
    opacity: 0;
}

.image-box2:hover > .box-text2.fade{
    opacity: 1;
}

.grid3{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.image-box3{
    position: relative;
    overflow: hidden;
}

.image-box3 > img{
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.image-box3 > .box-text3{
    position: absolute;
    inset: 0;
    font-size: 18px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box3 > img,
.image-box3 > .box-text3{
    transition: 200ms ease-in-out;
}

.image-box3:hover > img.blur{
    filter: blur(15px);
}

.image-box3 > .box-text3.fade{
    opacity: 0;
}

.image-box3:hover > .box-text3.fade{
    opacity: 1;
}
